<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.learnakantwi.twiguides">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppStartClass"
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation|uiMode|screenLayout|screenSize|smallestScreenSize"
        android:hardwareAccelerated="true"
        android:icon="@drawable/learnakantwiimage"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/learnakantwiimage"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NoticeBoardActivity"></activity>
        <activity
            android:name=".HomeMainActivity"
            android:label="@string/title_activity_home_main"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ReadingLesson1" />
        <activity android:name=".ReadingLesson2" />
        <activity android:name=".RepeatingActivityProverbs" />
        <activity
            android:name=".QuizTimedChildrenAnimals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProverbsQuizActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".QuizHighScoresHome" />
        <activity android:name=".QuizTimedHome" />
        <activity android:name=".QuizTimedAllFinishPage" />
        <activity
            android:name=".QuizTimedAll"
            android:screenOrientation="portrait" />
        <activity android:name=".SubChildrenAnimalQuiz" />
        <activity android:name=".SubChildrenAnimalsRecyclerView" />
        <activity android:name=".SubConversationWelcomingOthers" />
        <activity android:name=".SubConversationDirections" />
        <activity android:name=".SubConversationHospital" />
        <activity android:name=".SubConversationPhone" />
        <activity android:name=".DownloadsActivity" />
        <activity android:name=".DeleteDownloadsActivity" />
        <activity android:name=".SettingsAndTips" />
        <activity android:name=".SubPReadingDigraphs" />
        <activity android:name=".SubPReadingActivityDigraphMain" />
        <activity android:name=".SubPReadingActivityTwoLettersMain" />
        <activity android:name=".SubPReadingActivityTwoLetters" />
        <activity android:name=".SubPReadingActivityMain" />
        <activity android:name=".ReadingActivityTwoLetters" />
        <activity android:name=".ReadingActivityMain" />
        <activity android:name=".ReadingActivityTwoLettersMain" />
        <activity android:name=".ChildrenAnimalActivity" />
        <activity android:name=".ChildrenNumbersActivityRV" />
        <activity android:name=".PleaseSubscribePage" />
        <activity android:name=".SubChildrenAnimals" />
        <activity android:name=".QuizSubFood" />
        <activity android:name=".QuizSubFamily" />
        <activity android:name=".QuizSubAll" />
        <activity android:name=".QuizSubBusiness" />
        <activity android:name=".QuizSubAnimals" />
        <activity android:name=".QuizSubColours" />
        <activity android:name=".QuizSubCommonExpressionsa" />
        <activity android:name=".QuizSubMonths" />
        <activity android:name=".QuizSubBodyParts" />
        <activity android:name=".QuizSubWeather" />
        <activity android:name=".QuizSubPronouns" />
        <activity android:name=".QuizSubNumbers" />
        <activity android:name=".QuizSubDaysOfWeek" />
        <activity android:name=".QuizSubTime" />
        <activity android:name=".QuizSubAlphabet" />
        <activity android:name=".SubPAllActivity" />
        <activity android:name=".SubPBusinessActivity" />
        <activity android:name=".SubPAnimalsActivity" />
        <activity android:name=".SubPColoursActivity" />
        <activity android:name=".SubPCommonExpressionsaActivity" />
        <activity android:name=".SubPBodypartsActivity" />
        <activity android:name=".SubPWeatherActivity" />
        <activity android:name=".SubPPronounsActivity" />
        <activity android:name=".SubPNumbersActivity" />
        <activity android:name=".SubPDaysOfWeekActivity" />
        <activity android:name=".SubPAlphabetsActivity" />
        <activity android:name=".SubChildrenHome" />
        <activity android:name=".QuizSubHome" />
        <activity
            android:name=".QuizSubConversationIntroducing"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".QuizSubConversationHome"
            android:screenOrientation="fullSensor" />
        <activity android:name=".SubConversationIntroductionActivity" />
        <activity android:name=".SubConversationHomeActivity" />
        <activity android:name=".SubConversationApologiesAndResponses" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".RealTimeDatabase" />
        <activity android:name=".PlayFromFirebase" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".SubPFoodActivity" />
        <activity android:name=".SubPMonthsActivity" />
        <activity android:name=".SubPFamilyActivity" />
        <activity android:name=".SubPHomeMainActivity" />
        <activity android:name=".SubPProverbsHome" />
        <activity android:name=".SubPProverbsActivity" />
        <activity android:name=".SubPTimeActivity" />
        <activity android:name=".SubPHomeVocabulary" />
        <activity
            android:name=".InAppActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ProverbsActivity" />
        <activity android:name=".ChildrenAlphabet" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" /> <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".QuizAnimals"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity android:name=".QuizAlphabet" />
        <activity android:name=".QuizFood" />
        <activity android:name=".QuizFamily" />
        <activity
            android:name=".ChildrenNumberCount"
            android:screenOrientation="fullSensor" /> <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity android:name=".QuizTime" />
        <activity android:name=".QuizDaysOfWeek" />
        <activity android:name=".QuizNumbers" />
        <activity android:name=".QuizWeather" />
        <activity android:name=".QuizBodyParts" />
        <activity android:name=".QuizMonths" />
        <activity android:name=".QuizCommonExpressionsa" />
        <activity android:name=".QuizColours" />
        <activity android:name=".QuizBusiness" />
        <activity android:name=".QuizAll" />
        <activity android:name=".QuizHome" />
        <activity android:name=".AllActivity" />
        <activity android:name=".ChildrenHome" />
        <activity android:name=".WeatherActivity" />
        <activity android:name=".TimeActivity" />
        <activity android:name=".PronounsActivity" />
        <activity android:name=".NumbersActivity" />
        <activity android:name=".MonthsActivity" />
        <activity android:name=".Home" />
        <activity android:name=".ProverbsHome" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".FamilyActivity" />
        <activity android:name=".DaysOfWeekActivity" />
        <activity android:name=".CommonExpressionsaActivity" />
        <activity android:name=".ColoursActivity" />
        <activity android:name=".BodypartsActivity" />
        <activity android:name=".BusinessActivity" />
        <activity android:name=".AnimalsActivity" />
        <activity android:name=".AlphabetsActivity" />
        <activity android:name=".Repeating_activity" />
        <activity android:name=".ReadingLessonTestRecycler" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Notification_receiver"
            android:exported="true" />
        <receiver
            android:name=".Notification_receiver_Proverbs"
            android:exported="true" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7384642419407303~6578212997" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
            -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/learnakantwi" />
            <!--
                 Set color used with incoming notification messages. This is used when no color is set for the incoming
                 notification message. See README(https://goo.gl/6BKBk7) for more.
            -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        </service>
    </application>

</manifest>